@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply overflow-x-hidden w-screen h-full bg-white m-0 p-0 box-border font-poppins;
}

#hero {
  background-image: url('./assets/waves.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}

.btn-Active {
  @apply transition-all ease-in-out duration-150 active:translate-x-[3px] active:translate-y-1 active:shadow-none shadow-[3px_4px_0_0_rgba(0,0,0,1)];
}
